<app-second-splash *ngIf="allowSecondSplash"></app-second-splash>

<div class="content" *ngIf='!allowSecondSplash'>
    <div class="content__container">
      <p class="content__container__text">
        Hello
      </p>
      <ul class="content__container__list">
        <li class="content__container__list__item">anh Phương</li>
        <li class="content__container__list__item">xxxx</li>
        <li class="content__container__list__item">xxxx !</li>
        <li class="content__container__list__item">xxxxx !</li>
      </ul>
    </div>
  </div>
 
